<%-include('./layout/header.ejs')%>
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
                        <p class="mb-4">Whether you just moved into a new home or looking to revamp your current one, we here to inspire you with affordable home furniture solutions, there is a piece of furniture to every corner of your home.</p>
                        <p><a href="/shop"
                                class="btn btn-white-outline">Explore</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Product Section -->
    <div class="product-section">
        <div class="container">
            <div class="row">

                <!-- Start Column 1 -->
                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
                    <p class="mb-4">Our vision is to create a better everyday life for the many people. On this site you can discover exactly what this means and find out who we are, what we do and what we stand for. </p>
                    <p><a href="/shop" class="btn">Explore</a></p>
                </div>
                <!-- End Column 1 -->

                <!-- Start Column 2 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="/shop">
                        <img src="/public/user/images/product-2.png" class="img-fluid product-thumbnail">
                        
                    </a>
                </div>
                <!-- End Column 2 -->

                <!-- Start Column 3 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item"  href="/shop">
                        <img src="/public/user/images/why-choose-us-img.jpg" class="img-fluid product-thumbnail">
            
                    </a>
                </div>
                <!-- End Column 3 -->

                <!-- Start Column 4 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="/shop" >
                        <img src="/public/user/images/product-3.png" class="img-fluid product-thumbnail">
                    </a>
                </div>
                <!-- End Column 4 -->

            </div>
        </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">Why Choose Us</h2>
                    <p>To live in a healthy, environmentally-friendly way is easier and more affordable than ever.</p>

                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="/public/user/images/truck.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Fast &amp; Free Shipping</h3>
                                <p>We can deliver your IKEA purchases to your home or workplace. We can deliver to your front door, or we can take your delivery items all the way into your room of choice..</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="/public/user/images/bag.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Click and Collect</h3>
                                <p>​Using Click & Collect, you can order your favourite products online and collect them from the click and collect area closed to you..</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="/public/user/images/support.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>24/7 Support</h3>
                                <p>Whether you’re looking for answers, would like to solve a problem, or just want to let us know how we did, you’ll find many ways to contact us right here..</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="/public/user/images/return.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Hassle Free Returns</h3>
                                <p>With our return policy, we have ensured that our customers have a safe shopping experience with IKEA..</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="/public/user/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->

    <!-- Start We Help Section -->
    <div class="we-help-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="imgs-grid">
                        <div class="grid grid-1"><img src="/public/user/images/img-grid-1.jpg" alt="Untree.co"></div>
                        <div class="grid grid-2"><img src="/public/user/images/img-grid-2.jpg" alt="Untree.co"></div>
                        <div class="grid grid-3"><img src="/public/user/images/img-grid-3.jpg" alt="Untree.co"></div>
                    </div>
                </div>
                <div class="col-lg-5 ps-lg-5">
                    <h2 class="section-title mb-4">Sustainability – caring for people and the planet</h2>
                    <p>To meet the challenges of unsustainable consumption, climate change, and growing inequality, we are – in collaboration with partners, co-workers, and customers – taking ambitious steps towards a more sustainable future.</p>

                    <ul class="list-unstyled custom-list my-4">
                        <li>Inspire and enable more than 1 billion people to live a better everyday life within the boundaries of the planet
                        </li>
                        <li>Become circular and climate positive, and regenerate resources while growing the IKEA business</li>
                        <li>Play our full part in contributing to a fair and equal society by respecting human rights</li>
                        <li>Creating a positive impact for people across our value chain and contributing to resilient societies</li>
                    </ul>
                    <p><a href="/shop" class="btn">Explore</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End We Help Section -->

    <!-- Start Popular Product -->
    <!-- <div class="popular-product">
			<div class="container">
				<div class="row">

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="/public/user/images/product-1.png" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Nordic Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="/public/user/images/product-2.png" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Kruzo Aero Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="/public/user/images/product-3.png" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Ergonomic Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> -->
    <!-- End Popular Product -->


    <!-- Start Footer Section -->
  <%-include('./layout/footer.ejs')%>