<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="/public/user/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/user/css/style.css">

</head>

<body>
  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/public/user/images/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <%if(locals.error){%>
              <div class="alert alert-danger" role="alert">
                <%=locals.error%>
              </div>
              <%}%>
                <form action="/otpVerified" method="post">
                  <div class="form-group first">
                    <label>OTP has been successfully sent to your email </label>
                    <input type="text" class="form-control" placeholder="Enter the otp" name="otp">
                  </div>
                  <input type="submit" value="SUBMIT" class="btn btn-block btn-dark">
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>