<%-include('./layout/header.ejs')%>

<!-- <form action="" method="post" enctype="multipart/form-data">
    <label for="category">category</label>
    <br>
    <input type="text" name="name" value="<%=user.name%>" readonly>
    <br>
    <label for="image" >choose an image</label>
    <br>
    <input type="file" name="image" required>
    <br><br>
    <button type="submit">Update</button>
</form> -->


<section class="vh-100" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="card-body p-5 text-center">
                    <h3 class="mb-5">Edit Category</h3>
                    <div class="form-outline mb-4">
                      <input type="text"  class="form-control form-control-lg" name="name" value="<%=user.name%>" readonly />
                      <label class="form-label" for="typeEmailX-2">Category Name</label>
                    </div>

                    <button class="btn btn-dark btn-lg btn-block" type="submit">Update</button>
                    <hr class="my-4">
                    <a href="/admin_panel/category">back</a>
                  </div>
                  
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    function changeImage(event){
      document.getElementById('imgChange').src=URL.createObjectURL(event.target.files[0])
    }
  </script>

<%-include('./layout/footer.ejs')%>