<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="/public/user/css/bootstrap.min .home.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/public/user/css/tiny-slider.css" rel="stylesheet">
    <link href="/public/user/css/style.home.css" rel="stylesheet">
</head>

<body>
    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
        <div class="container">    
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav me-auto mb-2 mb-md-0">
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link " href="/shop">Shop</a></li>
                </ul>
                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">            
                    <%if(locals.isLogin){%>
                        <div class="dropdown">
                            <li><a class="nav-link"><img src="/public/user/images/user.svg"></a></li>
                            <div class="dropdown-content">
                              <a href="#">My Profile</a>
                              <a href="#">Orders</a>
                              <a href="#">Wishlist</a>
                              <a href="/logout">Logout</a>
                            </div>
                        </div>
                        <%if(cart!=null){%>
                            <li>
                                <a class="nav-link" href="/cart"><img src="/public/user/images/cart.svg">(<span id="cart-count"><%=cart.items.length%></span>)</a>
                            </li>
                        <%}%>

                    <%}else{%>
                        <li>
                            <a class="nav-link" href="/user_login">
                                Login
                            </a>
                        </li>
                    <%}%>
                    
                </ul>
            </div>
        </div>
    </nav>
